.Copy {
	padding-inline: var(--columnPadding);
}

.Copy {
	--headerMaxWidth: var(--copyMaxWidth);
	--bodyMaxWidth: var(--copyMaxWidth);
}

.Copy.variant--Footer {
	--titleFontSize: var(--step-3);
	--titleLineHeight: 1.333333333;
	--titleLetterSpacing: 0.1px;
}

.Copy.variant--Detail {
	--titleBorderColor: var(--accentColor);
	--bodyFontSize: var(--step--1);
	--titleFontSize: var(--step-0);
	--titleLineHeight: 1.333333333;
	--titleLetterSpacing: 0.2px;
}

.Copy__header {
	--flow-space: var(--space-2xs);
	position: relative;
	max-inline-size: var(--headerMaxWidth);
}

.Copy__icon {
	min-height: 40px;
	display: flex;
	align-items: flex-end;
}

.Icon {
	display: block;
}

.Copy__title {
	position: relative;
	font-size: var(--titleFontSize);
	letter-spacing: var(--titleLetterSpacing, inherit);
	line-height: var(--titleLineHeight);
}

.Copy__title:before {
	content: "";
	display: var(--titleAnchorDisplay, block);
	position: absolute;
	inset-block-start: calc(
		0.5px + var(--titleLineHeight) * var(--titleFontSize) / 2 -
			var(--titleFontSize) / 2
	);
	inset-inline-start: calc(var(--columnPadding) * -1);
	inline-size: 1px;
	block-size: var(--titleFontSize);
	background-color: var(--titleBorderColor, transparent);
}

.Copy__body {
	max-inline-size: var(--bodyMaxWidth);
	font-size: var(--bodyFontSize);
}

.Copy.variant--Footer .Copy__body {
	/* 		padding-inline-end: var(--space-2xl-3xl); */
	max-inline-size: 34ch;
}

.Copy__footer {
	--flow-space: var(--bodyFontSize);
}

.CtaButton {
	display: inline-block;
	border-radius: var(--space-s);
	color: var(--buttonColor);
	font-size: var(--step--1);
	transition: var(--hoverTransition);
	outline: none;
}

.CtaButton.variant--Button {
	padding: calc(var(--space-2xs) * 3 / 4) var(--space-s);
	background-color: var(--buttonColor);
	color: var(--knockoutColor);
	white-space: nowrap;
	transition-property: background-color, opacity;
}

.CtaButton.variant--Link {
	font-weight: var(--fontWeightSemibold);
	transition-property: color, opacity;
}

.HoverArrow {
	--arrowSpacing: var(--space-3xs);
	--arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
	--arrowHoverOffset: translateX(3px);
	--arrowTipTransform: none;
	--arrowLineOpacity: 0;
	position: relative;
	inset-block-start: 1px;
	margin-inline-start: var(--arrowSpacing);
	stroke-width: 2px;
	fill: none;
	stroke: currentColor;
}

.HoverArrow__linePath {
	opacity: var(--arrowLineOpacity);
	transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}

.HoverArrow__tipPath {
	transform: var(--arrowTipTransform);
	transition: transform var(--hoverTransition, var(--arrowHoverTransition));
}
