.cta-button {
	/* display: inline-block; */
	display: inline-flex;
	align-items: center;
	border-radius: var(--space-s);
	color: var(--buttonColor);
	font-size: var(--step--1);
	transition: var(--hoverTransition);
	outline: none;
}

.cta-button[data-variant="button"] {
	padding: calc(var(--space-2xs) * 3 / 4) var(--space-s);
	background-color: var(--buttonColor);
	color: var(--knockoutColor);
	white-space: nowrap;
	transition-property: background-color, opacity;
}

.cta-button[data-variant="link"] {
	font-weight: var(--fontWeightSemibold);
	transition-property: color, opacity;
}

.hover-arrow {
	--arrowSpacing: var(--space-3xs);
	--arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
	--arrowHoverOffset: translateX(3px);
	--arrowTipTransform: none;
	--arrowLineOpacity: 0;
	position: relative;
	inset-block-start: 1px;
	margin-inline-start: var(--arrowSpacing);
	stroke-width: 2px;
	fill: none;
	stroke: currentColor;
}

.line-path {
	opacity: var(--arrowLineOpacity);
	transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}

.tip-path {
	transform: var(--arrowTipTransform);
	transition: transform var(--hoverTransition, var(--arrowHoverTransition));
}

@media (pointer: fine) {
	.cta-button[data-variant="button"]:hover {
		background-color: var(--buttonHoverColor, var(--buttonColor));
		opacity: var(--buttonHoverOpacity, 1);
	}

	.cta-button[data-variant="link"]:hover {
		color: var(--linkHoverColor, var(--linkColor));
		opacity: var(--linkHoverOpacity, 1);
	}

	a:hover .line-path,
	button:hover .line-path {
		--arrowLineOpacity: 1;
	}

	a:hover .tip-path,
	button:hover .tip-path {
		--arrowTipTransform: var(--arrowHoverOffset);
	}
}
