section {
	position: relative;
}

.section-masked {
	overflow: hidden;
}

.section-container {
	display: flex;
	justify-content: center;
}

.section-layout-container {
	inline-size: 100%;
	margin-inline: var(--gutter);
}

.section-layout {
	padding-block: var(--sectionBlockPadding);
}

.column-layout {
	display: grid;
	row-gap: var(--space-xl);
	align-items: flex-start;
}

.section-background-mask {
	position: absolute;
	inset: 0;
	overflow: visible;
	pointer-events: none;
}

.section-background {
	position: relative;
	inline-size: 100%;
	block-size: 100%;
	max-block-size: none;
	inset-block-start: 0;
	inset-inline-start: 0;
	transform-origin: 100% 0;
	transform: skewY(0);
	overflow: hidden;
}

.guides {
	position: absolute;
	inset: 0;
	padding: 0 var(--gutter);
	pointer-events: none;
}

.guides-container {
	display: grid;
	grid: 1fr / repeat(var(--columnCountMax), 1fr);
	position: relative;
	block-size: 100%;
	margin-inline: auto;
}

.guide-item {
	inline-size: 1px;
	background: linear-gradient(
		180deg,
		var(--guideDashedColor),
		var(--guideDashedColor) 50%,
		transparent 0,
		transparent
	);
	background-size: 1px var(--space-2xs);
}

.guide-item:first-of-type,
.guide-item:last-of-type {
	background: var(--guideSolidColor);
}

.guide-item:last-of-type {
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: 0;
	block-size: 100%;
}

@media (min-width: 600px) {
	:root {
		--columnCountMax: 2;
	}

	[data-columns="2,1,1"] {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 600px) and (max-width: 899px) {
	[data-columns="2,1,1"] > :first-child {
		grid-column: span 2;
	}
}

@media (min-width: 900px) {
	:root {
		--columnCountMax: 4;
	}

	[data-columns="2,1,1"] {
		grid-template-columns: 2fr repeat(2, 1fr);
	}
}
