@media (min-width: 600px) {
	:root {
		--columnCountMax: 2;
	}

	[data-columns="2,1,1"] {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 600px) and (max-width: 899px) {
	[data-columns="2,1,1"] > :first-child {
		grid-column: span 2;
	}
}

@media (min-width: 900px) {
	:root {
		--columnCountMax: 4;
	}

	[data-columns="2,1,1"] {
		grid-template-columns: 2fr repeat(2, 1fr);
	}
}

@media (pointer: fine) {
	.CtaButton.variant--Button:hover {
		background-color: var(--buttonHoverColor, var(--buttonColor));
		opacity: var(--buttonHoverOpacity, 1);
	}

	.CtaButton.variant--Link:hover {
		color: var(--linkHoverColor, var(--linkColor));
		opacity: var(--linkHoverOpacity, 1);
	}

	a:hover .HoverArrow__linePath,
	button:hover .HoverArrow__linePath {
		--arrowLineOpacity: 1;
	}

	a:hover .HoverArrow__tipPath,
	button:hover .HoverArrow__tipPath {
		--arrowTipTransform: var(--arrowHoverOffset);
	}
}
