<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "./reset.css" %}
  {% include "./a11y.css" %}
  {% include "./fluid-type-space.css" %}
  {% include "./global.css" %}
  {% include "./layout.css" %}
  {% include "./header.css" %}
  {% include "./breadcrumbs.css" %}
  {% include "./article.css" %}
  {% include "./cta.css" %}
  {% include "./blog-footer.css" %}
  {% include "./utilities.css" %}
{% endset %}

<style>{{ css | cssmin | safe }}</style>