<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "./reset.css" %}
  {% include "./a11y.css" %}
  {% include "./fluid-type-space.css" %}
  {% include "./global.css" %}
  {% include "./section.css" %}
  {% include "./blog-footer-cta.css" %}
  {% include "./media-queries.css" %}
  {% include "./utilities.css" %}
{% endset %}

<style>{{ css | cssmin | safe }}</style>