<section class="Section">
  <div class="Section__masked">
    <div class="Section__backgroundMask">
      <div class="Section__background">
        <div class="Guides" aria-hidden="true">
          <div class="Guides__container wrapper">
            <div class="Guides__guide"></div>
            <div class="Guides__guide"></div>
            <div class="Guides__guide"></div>
            <div class="Guides__guide"></div>
            <div class="Guides__guide"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="Section__container">
      <div class="Section__layoutContainer wrapper">
        <div class="Section__layout">
          <div class="ColumnLayout" data-columns="2,1,1">
            <section class="Copy flow variant--Footer">
              <header class="Copy__header flow">
                <h1 class="Copy__title">Stay connected</h1>
              </header>
              <p class="Copy__body">
                Subscribe to receive new blog posts from Stripe in your RSS reader.
              </p>
              <footer class="Copy__footer">
                <a class="CtaButton variant--Button CtaButton--arrow" href="#">
                  Subscribe to RSS&nbsp;
                  <svg class="HoverArrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                    <g fill-rule="evenodd">
                      <path class="HoverArrow__linePath" d="M0 5h7"></path>
                      <path class="HoverArrow__tipPath" d="M1 1l4 4-4 4"></path>
                    </g>
                  </svg>
                </a>
              </footer>
            </section>
            <section class="Copy flow variant--Detail">
              <header class="Copy__header flow">
                <div class="Copy__icon">
                  <svg class="Icon " width="39" height="40" viewBox="0 0 39 40" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <clipPath id="BuildingsIconClipPath--a">
                        <path d="M37 0a2 2 0 012 2v36a2 2 0 01-2 2h-3v-8a1 1 0 00-1-1h-3a1 1 0 00-1 1v8H18a2 2 0 01-2-2V2a2 2 0 012-2h19zM25 20h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm0-8h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm-8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm0-8h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1V5a1 1 0 00-1-1zm8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1V5a1 1 0 00-1-1z" class="Icon__blendBackground" style="fill: var(--blendBackground);"></path>
                      </clipPath>
                    </defs>
                    <path d="M37 0a2 2 0 012 2v36a2 2 0 01-2 2h-3v-8a1 1 0 00-1-1h-3a1 1 0 00-1 1v8H18a2 2 0 01-2-2V2a2 2 0 012-2h19zM25 20h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm0-8h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm-8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm0-8h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1V5a1 1 0 00-1-1zm8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1V5a1 1 0 00-1-1z" class="Icon__blendBackground" style="fill: var(--blendBackground);"></path>
                    <path d="M22.954 12.057a2 2 0 01.046.424V38a2 2 0 01-2 2H2a2 2 0 01-2-2V16.612a2 2 0 011.575-1.954l19-4.13a2 2 0 012.38 1.529zM17 28h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm-8 0H6a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm0-8H6a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1z" class="Icon__blendForeground" style="fill: var(--blendForeground);"></path>
                    <g clip-path="url(#BuildingsIconClipPath--a)">
                      <path d="M22.954 12.057a2 2 0 01.046.424V38a2 2 0 01-2 2H2a2 2 0 01-2-2V16.612a2 2 0 011.575-1.954l19-4.13a2 2 0 012.38 1.529zM17 28h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm-8 0H6a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm0-8H6a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1zm8 0h-3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1v-3a1 1 0 00-1-1z" class="Icon__blendForeground" style="fill: var(--blendIntersection);"></path>
                    </g>
                  </svg>
                </div>
                <h2 class="Copy__title">Like this post? Join our team.</h2>
              </header>
              <p class="Copy__body">
                Stripe builds financial tools and economic infrastructure for the internet.
              </p>
              <footer class="Copy__footer">
                <a class="CtaButton variant--Link CtaButton--arrow" href="#">
                  View roles&nbsp;
                  <svg class="HoverArrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                    <g fill-rule="evenodd">
                      <path class="HoverArrow__linePath" d="M0 5h7"></path>
                      <path class="HoverArrow__tipPath" d="M1 1l4 4-4 4"></path>
                    </g>
                  </svg>
                </a>
              </footer>
            </section>
            <section class="Copy flow variant--Detail">
              <header class="Copy__header flow">
                <div class="Copy__icon">
                  <svg class="Icon " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 33" width="39" height="33">
                    <defs>
                      <clipPath id="ChatBubblesWithQuestionMark--a">
                        <path d="M2 19.24a12.73 12.73 0 1 1 4.43 4.42l-5.9 1.97c-.4.13-.63-.09-.5-.5l1.98-5.9z" class="Icon__blendBackground" style="fill: var(--blendBackground);"></path>
                      </clipPath>
                    </defs>
                    <path d="M2 19.24a12.73 12.73 0 1 1 4.43 4.42l-5.9 1.97c-.4.13-.63-.09-.5-.5l1.98-5.9z" class="Icon__blendBackground" style="fill: var(--blendBackground);"></path>
                    <path d="M16.73 10.73a12.73 12.73 0 0 1 19.93 15.5l1.97 5.9c.13.41-.09.63-.5.5l-5.9-1.97a12.73 12.73 0 0 1-15.5-19.93zM25.5 23.4c-.93 0-1.68.8-1.68 1.8s.75 1.8 1.68 1.8c.93 0 1.69-.8 1.69-1.8s-.76-1.8-1.69-1.8zm-3.2-10.1A4.73 4.73 0 0 0 21 16.8h2.66c0-1.74.92-2.47 1.88-2.47.4-.07.83.06 1.13.37.3.3.45.75.4 1.19 0 1.15-.16 1.37-1.15 2.18a4.11 4.11 0 0 0-1.77 3.53h2.48c.14-.9.65-1.67 1.38-2.11A4 4 0 0 0 30 16.04c0-1.39-.96-4.03-4.38-4.03a4.13 4.13 0 0 0-3.33 1.29z" class="Icon__blendForeground" style="fill: var(--blendForeground);"></path>
                    <g clip-path="url(#ChatBubblesWithQuestionMark--a)">
                      <path d="M16.73 10.73a12.73 12.73 0 0 1 19.93 15.5l1.97 5.9c.13.41-.09.63-.5.5l-5.9-1.97a12.73 12.73 0 0 1-15.5-19.93zM25.5 23.4c-.93 0-1.68.8-1.68 1.8s.75 1.8 1.68 1.8c.93 0 1.69-.8 1.69-1.8s-.76-1.8-1.69-1.8zm-3.2-10.1A4.73 4.73 0 0 0 21 16.8h2.66c0-1.74.92-2.47 1.88-2.47.4-.07.83.06 1.13.37.3.3.45.75.4 1.19 0 1.15-.16 1.37-1.15 2.18a4.11 4.11 0 0 0-1.77 3.53h2.48c.14-.9.65-1.67 1.38-2.11A4 4 0 0 0 30 16.04c0-1.39-.96-4.03-4.38-4.03a4.13 4.13 0 0 0-3.33 1.29z" class="Icon__blendForeground" style="fill: var(--blendIntersection);"></path>
                    </g>
                  </svg>
                </div>
                <h2 class="Copy__title">Have any feedback or questions?</h2>
              </header>
              <p class="Copy__body">
                We’d love to hear from you.
              </p>
              <footer class="Copy__footer">
                <a class="CtaButton variant--Link CtaButton--arrow" href="#">
                  Contact us&nbsp;
                  <svg class="HoverArrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                    <g fill-rule="evenodd">
                      <path class="HoverArrow__linePath" d="M0 5h7"></path>
                      <path class="HoverArrow__tipPath" d="M1 1l4 4-4 4"></path>
                    </g>
                  </svg>
                </a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>