<section class="blog-footer section">
  <div class="section-masked">
    {%- include "partials/background-mask.html" -%}
    <div class="section-container">
      <div class="section-layout-container wrapper">
        <div class="section-layout">
          <div class="column-layout" data-columns="2,1,1">
            <section class="copy flow" data-variant="with-footer">
              <header class="header flow">
                <h2 class="title">Stay connected</h2>
              </header>
              <p class="body">
                Subscribe to receive new blog posts from Stripe in your RSS reader.
              </p>
              <footer class="footer">
                <a class="cta-button" data-variant="button" href="#">
                  Subscribe to RSS
                  {%- include "snippets/arrow.html" -%}
                </a>
              </footer>
            </section>
            <section class="copy flow" data-variant="with-detail">
              <header class="header flow">
                <div class="icon-container">
                  {%- include "snippets/building.html" -%}
                </div>
                <h2 class="title">Like this post? Join our team.</h2>
              </header>
              <p class="body">
                Stripe builds financial tools and economic infrastructure for the internet.
              </p>
              <footer class="footer">
                <a class="cta-button" data-variant="link" href="#">
                  View roles
                  {%- include "snippets/arrow.html" -%}
                </a>
              </footer>
            </section>
            <section class="copy flow" data-variant="with-detail">
              <header class="header flow">
                <div class="icon-container">
                  {%- include "snippets/chat-bubble.html" -%}
                </div>
                <h2 class="title">Have any feedback or questions?</h2>
              </header>
              <p class="body">
                We’d love to hear from you.
              </p>
              <footer class="footer">
                <a class="cta-button" data-variant="link" href="#">
                  Contact us
                  {%- include "snippets/arrow.html" -%}
                </a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>