{%- include "partials/background-mask.html" -%}
<div class="section-layout-container wrapper">
  <div class="nav-container cluster step--1 fw500">
    <a href="/" class="logo">
      {%- include "snippets/logo.html" -%}
    </a>
    <!-- <nav>
      <ul class="primary-nav cluster" role="list">
        <li><a href="#">Products</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </nav> -->
    <a class="cta-button" data-variant="button" href="#">
      Sign in
      {%- include "snippets/arrow.html" -%}
    </a>
  </div>
</div>